/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
    body {
     font-size: 14px;
 }
 .header {
    font-size: 13px;
}
.header-top {
    padding: 9px 0;
}
.logo img {
    width: 140px;
}
.logo-descr {
    font-size: 11px;
    max-width: 193px;
    margin-left: 19px;
}
.header__info {
    margin-left: 40px;
}
.location-main__value i {
    font-size: 10px;
    top: -1px;
}
.phone-main {
    font-size: 16px;
}
.link-page {
    font-size: 12px;
}
.header__contacts {
    margin-left: 28px;
}
.list-social img {
 max-width: 32px;
 height: auto;
}
.btn-search, .open-search {
    width: 32px;
    height: 32px;
    font-size: 14px;
}
.header-search {
    margin-right: 28px;
}
.header-search input {
    height: 32px;
    padding: 0 13px;
    font-size: 13px;
}
.header-search.active form {
    width: 230px;
}
.btn-page {
    padding: 0 14px;
    height: 33px;
}
.header-bottom {
    padding: 7px 0;
}
.header-middle {
    padding: 6px 0;
}
.billbord {
    padding-top: 65px;
    padding-bottom: 45px;
}
.item-billbord {
    width: 202px;
    height: 195px;
    margin-bottom: 20px;
}
.tilte-billbord {
    font-size: 42px;
    max-width: 590px;
    margin-bottom: 20px;
}
.tilte-billbord span {
    font-size: 26px;
}
.descr-billbord {
    font-size: 21px;
    max-width: 495px;
}
.billbord .btn-main {
    height: 70px;
    max-width: 290px;
    margin-top: 40px;
    font-size: 14px;
}
.title-section {
    font-size: 27px;
    padding-top: 30px;
    padding-bottom: 24px;
}
.item-tab__head {
    font-size: 16px;
    padding: 14px 0;
    padding-right: 7px;
}
.item-tab__content {
    padding-left: 20px;
}
.item-tab__content li {
    margin-bottom: 16px;
}
.row {
	margin: 0 -10px;
}
.row > div {
	padding: 0 10px;
}
.row_services > div,
.row_catalog > div {
	margin-bottom: 20px;
}
.feature-catalog {
    font-size: 13px;
    margin-bottom: 7px;
}
.item-catalog {
 padding: 15px;
}
.item-catalog__title {
    font-size: 16px;
    margin-bottom: 6px;
}
.item-catalog__bottom {
    padding-top: 10px;
}
.price-main {
    font-size: 16px;
}
.item-catalog__buttons {
    padding-top: 13px;
}
.btn-main {
    font-size: 13px;
    height: 40px;
    padding: 0 32px;
}
.quantity {
    width: 100px;
    height: 40px;
}
.item-catalog__image {
    height: 210px;
    margin-bottom: 8px;
}
.bottom-button .btn-main {
    height: 45px;
    font-size: 14px;
    padding: 0 29px;
}
.catalog {
    padding-bottom: 43px;
}
.item-category {
    min-height: 260px;
    padding: 22px 20px;
    margin-bottom: 20px;
}
.item-category__title {
    font-size: 21px;
    margin-bottom: 12px;
}
.item-category__image {
 transform: scale(0.8);
 transform-origin: 100% 100%;
}
.row_categories .row_categories .item-category__title {
    max-width: 218px;
}
.row_categories > .col-lg-4 .item-category__image {
	transform-origin: 50% 100%;
    transform: scale(0.9);
}
.categories {
	padding-bottom: 45px;
}
.descr-section {
    font-size: 16px;
    padding-bottom: 24px;
}
.item-service__image {
    height: 178px;
}
.item-service__content {
    padding: 11px 16px;
    min-height: 60px;
}
.item-service__title {
    font-size: 16px;
}
.consultation-block__tag {
    padding: 12px 30px;
    padding-right: 25px;
    font-size: 16px;
    margin-bottom: 25px;
    border-radius: 0px 0px 35px 0px;
}
.row .consultation-block__left {
    padding-left: 35px;
}
.consultation-block__title {
    font-size: 34px;
    margin-bottom: 22px;
}
.list-page li {
    padding-left: 25px;
    margin-bottom: 15px;
}
.list-page li::before {
    top: 4px;
    width: 13px;
    height: 13px;
}
.block-form {
    padding: 30px 25px;
    padding-top: 19px;
    max-width: 330px;
}
.title-form {
    font-size: 22px;
    margin-bottom: 7px;
}
.descr-form {
    margin-bottom: 18px;
}
.block-form .btn-main {
    height: 55px;
    margin-top: 10px;
    font-size: 14px;
}
.checkbox {
    font-size: 11px;
    margin-top: 23px;
}
.consultation-block__image img {
	max-width: 400px;
	height: auto;
}
.consultation-block__image {
    margin-top: -64px;
    margin-right: -56px;
}
.consultation-block .list-page {
    max-width: 447px;
}
.steps .title-section {
	padding-bottom: 19px;
}
.item-step {
    padding: 45px 30px;
    padding-right: 35px;
    padding-bottom: 36px;
}
.row_steps > div {
    margin-bottom: 45px;
}
.item-step__title {
    padding: 10px 23px;
    top: -19px;
    left: 11px;
    border-radius: 0px 25px;
}
.slider-sertificats .slick-slide {
 padding: 0 10px;
}
.slider-reviews, .slider-sertificats {
 margin: 0 -10px;
}
.item-sertificat {
    height: 357px;
    padding: 11px;
}
.slider-reviews .slick-prev, 
.slider-sertificats .slick-prev {
    left: -47px;
}
.slider-reviews .slick-next,
.slider-sertificats .slick-next {
    right: -47px;
}
.slick-arrow {
    width: 40px;
    height: 40px;
    font-size: 16px;
}
.reviews .title-section {
    padding-bottom: 14px;
}
.slider-reviews .slick-slide {
    padding: 10px;
    padding-bottom: 20px;
}
.item-review__name {
    font-size: 21px;
    margin-bottom: 11px;
}
.item-review {
    padding: 20px 30px;
    padding-bottom: 30px;
    font-size: 13px;
}
.item-review__date {
    padding-top: 15px;
}
.reviews {
    padding-bottom: 70px;
}
.slider-reviews .slick-dots {
    bottom: -23px;
}
.footer {
    font-size: 13px;
    padding-top: 30px;
}
.footer__title {
    font-size: 15px;
}
.footer-bottom {
 margin-top: 25px;
}
.header__wrapper .btn-page {
    margin-left: 43px;
}
.navigation li {
    margin-right: 58px;
}
.tabs-catalog {
	font-size: 13px;
}
.wrapper {
	padding-top: 159px;
}
.header.nav-up {
	transform: translateY(-160px);
}
.open-search {
	font-size: 16px;
}
.header.nav-down ~ * .tabs-catalog {
    top: 175px;
}
.btn-select, 
.item-select .jq-selectbox__select-text {
    padding: 0;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 23px;
    height: 35px;
}
.btn-select {
    padding: 0 15px;
}
.sorting-catalog .item-select, .sorting-catalog .btn-select {
    margin-right: 3px;
    margin-bottom: 15px;
}
.item-select .jq-selectbox__trigger {
    width: 13px;
    height: 13px;
    font-size: 10px;
    right: 4px;
}
.item-select .jq-selectbox__dropdown li {
    font-size: 12px;
    padding: 4px 7px;
}
.nav-catalog__head {
    padding: 13px 0;
    font-size: 16px;
}
.nav-catalog {
    padding: 0 13px;
    font-size: 12px;
    padding-bottom: 2px;
}
.sidebar-banner {
    height: 370px;
    padding: 19px 19px;
    padding-bottom: 27px;
}
.sidebar-banner__title {
    font-size: 22px;
}
.sidebar-banner__title strong {
    font-size: 29px;
}
.sidebar-banner .btn-main {
    height: 50px;
    padding: 0 25px;
    font-size: 14px;
}
.page-catalog {
    padding-bottom: 40px;
}
.section-text {
    font-size: 13px;
    padding-bottom: 50px;
}
.prev.page-numbers, .next.page-numbers {
    width: 38px;
    height: 38px;
    font-size: 15px;
}
.pager {
    height: 38px;
}
.block-contacts {
    padding: 19px 18px;
    padding-bottom: 29px;
    margin-bottom: 23px;
    font-size: 13px;
}
.block-contacts__title {
    font-size: 20px;
    margin-bottom: 16px;
}
.block-contacts__subtitle {
    font-size: 17px;
    margin-top: 19px;
    margin-bottom: 6px;
}
.block-contacts .row > div:nth-child(2) .block-contacts__item {
    margin-left: -40px;
}
.block-contacts .btn-main {
    height: 50px;
    margin-top: 23px;
    padding: 0 29px;
    font-size: 14px;
}
.block-contacts .row > div:nth-child(1) {
    padding-right: 40px;
}
.form-contacts {
    padding: 35px 50px;
    margin-top: 37px;
    padding-bottom: 40px;
}
.form-contacts .title-form {
    max-width: 330px;
}
.form-contacts .descr-form {
    max-width: 325px;
}
.about-content {
    font-size: 13px;
    column-gap: 20px;
}
.about-content h2 {
    font-size: 21px;
}
.about-content h5 {
    font-size: 14px;
}
.about-content blockquote {
    padding: 21px 12px;
    padding-left: 40px;
    margin-bottom: 30px;
}
.about-content h3 {
    font-size: 17px;
}
.about-content img {
    margin-bottom: 26px;
}
.about-content blockquote + img, .about-content p + img {
    margin-top: 24px;
}
.about-content img.img-about {
    top: -41px;
    margin-bottom: -25px;
}
.about-content p + blockquote {
    margin-top: 20px;
}
.row_partners {
    margin: 0 -5px;
}
.row_partners > div {
    padding: 0 5px;
    margin-bottom: 10px;
}
.item-partner {
    height: 145px;
}
.partners {
    padding-bottom: 60px;
}
.item-map img {
    width: 38px;
    margin-right: 13px;
    height: auto;
}
.item-map {
    font-size: 17px;
    margin-right: 39px;
    margin-bottom: 23px;
}

.item-news__image {
    height: 195px;
}
.item-news__date {
    font-size: 13px;
    margin-bottom: 5px;
}
.item-news__title {
    font-size: 16px;
}
.item-news__content {
    padding: 21px;
    padding-top: 13px;
}
.row_news > div {
    margin-bottom: 25px;
}
.article-content h1 {
    font-size: 27px;
    margin-bottom: 20px;
}
.article-content {
    font-size: 13px;
    line-height: 170%;
}
.article-content time {
    margin-bottom: 6px;
}
.article-content h3 {
    font-size: 15px;
    margin-bottom: 11px;
    font-weight: 600;
    line-height: 170%;
}
.article-content h2 {
    margin-top: 20px;
    margin-bottom: 11px;
    font-size: 21px;
}
.title-page {
    font-size: 26px;
    padding-bottom: 23px;
}
.billbord-page {
    height: 370px;
    padding: 0 60px;
    margin-bottom: 25px;
}
.billbord-page__title {
    font-size: 40px;
    margin-bottom: 3px;
}
.billbord-page__descr {
    font-size: 19px;
    margin-bottom: 30px;
}
.billbord-page .btn-main {
    height: 54px;
    padding: 0 40px;
    font-size: 15px;
}
.slider-portfolio__item,
.slider-photos__item {
    height: 245px;
    margin: 0 7px;
}
.slider-portfolio,
.slider-photos {
    margin: 0 -7px;
}
.slider-photos .slick-prev {
    left: 7px;
}
.slider-photos .slick-next {
    right: 7px;
}
.row_sertificats > div {
    margin-bottom: 35px;
}
.slider-for__item {
    height: 350px;
}
.slider-nav {
    margin: 0 15px;
    margin-top: 15px;
}
.slider-nav__item {
    margin: 0 3px;
    border-radius: 8px;
    height: 85px;
}
.slider-nav .slick-prev {
    left: -25px;
}
.slider-nav .slick-next {
    right: -25px;
}
.title-card {
    font-size: 18px;
    margin-bottom: 18px;
}
.feature {
    font-size: 13px;
    margin-bottom: 6px;
}
.btn-common {
    min-width: 194px;
    height: 46px;
    padding: 0 11px;
    font-size: 13px;
}
.card-info {
    padding: 11px 12px;
    margin-right: -16px;
    margin-left: 9px;
    padding-bottom: 15px;
    min-height: 355px;
}
.price-card {
    font-size: 21px;
    margin-bottom: 16px;
}
.card-actions .quantity {
    margin-bottom: 16px;
}
.card-actions {
    padding: 12px 13px;
    padding-bottom: 14px;
}
.page-card .tabs {
    margin-top: 25px;
    gap: 5px;
}
.tab-container {
    font-size: 13px;
}
.slider-page-reviews {
    padding-bottom: 50px;
}
.page-reviews .item-review__date {
    padding-top: 45px;
}
.item-project__title {
    font-size: 16px;
}
.item-project__image {
    height: 245px;
}
.item-project__content {
    padding: 11px 15px;
    padding-bottom: 20px;
}
.item-project__bottom {
    padding-top: 13px;
}
.row_projects > div {
    margin-bottom: 20px;
}
.slider-for_project .slider-for__item {
    height: 363px;
}
.page-card-project .card-info {
    padding: 16px 30px;
    padding-bottom: 23px;
}
.page-card-project .title-page {
    padding-bottom: 18px;
}
.page-card-project .feature {
    font-size: 14px;
}
.item-step__name {
    font-size: 18px;
}
.slider-nav-vertical__item {
    height: 93px;
    margin-bottom: 8px;
}
.slider-for-vertical__item {
    height: 401px;
}
.card-info_main .btn-common {
    min-width: 176px;
}
.card-info_main .btn-main {
    padding: 0 23px;
    margin-right: 8px;
}
.card-info_main .btn-main, .card-info_main .btn-common {
    height: 46px;
}
.page-card-project {
    padding-bottom: 55px;
}
.page-card-project .card-info_main {
    min-height: calc(100% - 10px);
}
.page-card-project .title-page.title-page_slider {
    padding-bottom: 35px;
}
.page-dealers .billbord-page .btn-main {
    margin-top: 26px;
    height: 57px;
}
.page-dealers .billbord-page {
    height: 570px;
}
.item-advantage {
    padding: 23px 30px;
}
.item-advantage__title {
    font-size: 21px;
    margin-bottom: 19px;
}
.page-dealers .row_advantages {
    padding-bottom: 55px;
}
.tabs_comparsion {
    max-width: 190px;
}
.image-table {
    height: 245px;
}
.table-catalog tbody .td {
    padding: 10px 0;
}
.name-th {
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 0 12px;
}
.table-catalog tbody td:first-child .td {
    padding-left: 15px;
    padding-right: 11px;
    font-size: 12px;
}
.table-catalog {
    font-size: 13px;
}
.table-catalog table th:nth-child(10),
.table-catalog table th:nth-child(7),
.table-catalog table th:nth-child(4),
.table-catalog table td:nth-child(10),
.table-catalog table td:nth-child(7),
.table-catalog table td:nth-child(4) {
	padding-right: 8px;
}
.table-catalog table th:nth-child(11),
.table-catalog table th:nth-child(8),
.table-catalog table th:nth-child(5),
.table-catalog table td:nth-child(11),
.table-catalog table td:nth-child(8),
.table-catalog table td:nth-child(5) {
	padding-left: 8px;
}
.table-catalog th {
    padding: 8px 2px;
}
.table-catalog thead tr:first-child th {
    padding: 0 5px;
}
.item-benefit p,
.advantages-block__item p {
    font-size: 12px;
}
.item-benefit__title {
    margin-right: 0;
}
.item-benefit {
    padding: 17px;
    padding-bottom: 27px;
}
.advantages-block__icon,
.item-cooperation__icon,
.item-benefit__title::before {
    width: 33px;
    height: 33px;
}
.advantages-block__item {
    padding-left: 46px;
    margin-bottom: 24px;
}
.item-cooperation {
    padding: 31px 18px;
}
.item-cooperation__icon {
    margin-right: 20px;
}
.cooperation__items {
    max-width: 681px;
}
.map-dealers img {
    max-width: 1700px;
}
.map-dealers {
    margin-top: -205px;
}
.cooperation {
    margin-bottom: -410px;
}
.item-benefit__title {
    padding-left: 46px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    body {
        font-size: 13px;
    }
    .header {
        font-size: 12px;
    }
    .header-search form {
     position: absolute;
     right: 0;
     top: 0;
 }
 .header__wrapper .btn-page {
    margin-left: 25px;
}
.row {
	margin: 0 -5px;
}
.row > div {
	padding: 0 5px;
}
.item-catalog .btn-main {
	padding: 0 15px;
}
.item-tab__content {
    padding-left: 10px;
}
.item-tab__head {
    font-size: 14px;
    padding: 12px 0;
    padding-right: 4px;
}
.item-tab__head i {
    width: 21px;
    height: 21px;
    font-size: 11px;
}
.title-section {
    font-size: 22px;
    padding-top: 26px;
    padding-bottom: 17px;
}
.item-catalog__image {
    height: 180px;
}
.row_services > div, .row_catalog > div {
 margin-bottom: 10px;
}
.bottom-button {
 padding-top: 15px;
}
.item-category {
    min-height: 200px;
    padding: 16px 15px;
    margin-bottom: 10px;
}
.item-category__title {
    font-size: 17px;
    margin-bottom: 8px;
}
.item-category__image {
    transform: scale(0.7);
}
.row_categories .row_categories .item-category__title {
    max-width: 178px;
}
.descr-section {
    font-size: 15px;
    padding-bottom: 20px;
}
.item-service__image {
    height: 150px;
}
.item-service__title {
    font-size: 14px;
}
.row .consultation-block__left {
    padding-left: 20px;
}
.consultation-block__title {
    font-size: 26px;
    margin-bottom: 16px;
}
.consultation-block .list-page {
    max-width: 380px;
}
.title-form {
    font-size: 19px;
    margin-bottom: 5px;
}
.block-form {
    padding: 23px 20px;
    padding-top: 15px;
    max-width: 279px;
}
.consultation-block__image img {
    max-width: 340px;
}
.consultation-block__image {
    margin-top: 0;
    margin-right: -43px;
}
.consultation-block .list-page {
    max-width: 300px;
}
.list-page li {
    padding-left: 20px;
    margin-bottom: 9px;
}
.consultation-block__tag {
    padding: 10px 20px;
    padding-right: 22px;
    font-size: 14px;
    margin-bottom: 20px;
}
.item-catalog {
    padding: 10px;
}
.feature-catalog {
    font-size: 11px;
    margin-bottom: 6px;
}
.item-step {
    padding: 37px 20px;
    padding-right: 15px;
    padding-bottom: 20px;
}
.slider-sertificats .slick-slide {
    padding: 0 5px;
}
.slider-reviews, .slider-sertificats {
	margin: -5px;
}
.item-sertificat {
    height: 280px;
}
.footer {
    font-size: 12px;
    padding-top: 27px;
}
.footer .logo {
    margin-top: -10px;
    margin-bottom: 14px;
}
.footer__item {
    margin-left: 0;
}
.header__contacts {
    margin-left: 18px;
}
.header-search {
    margin-right: 20px;
}
.navigation li {
    margin-right: 40px;
}
.wrapper {
	padding-top: 158px;
}
.sorting-catalog {
    flex-wrap: wrap;
}
.sidebar-banner__title {
    font-size: 19px;
}
.sidebar-banner__title strong {
    font-size: 23px;
}
.sidebar-banner .btn-main {
    height: 45px;
    padding: 0 20px;
    font-size: 13px;
}
.sidebar-banner {
    height: 295px;
}
.form-contacts {
    padding: 25px 20px;
    margin-top: 30px;
    padding-bottom: 32px;
}
.form-contacts .btn-main {
    height: 50px;
    font-size: 14px;
}
.form-contacts .checkbox {
    margin-top: 11px;
}
.form-contacts .descr-form {
    max-width: 300px;
}
.form-contacts .title-form {
    max-width: 289px;
}
.block-contacts__title {
    font-size: 18px;
    margin-bottom: 14px;
}
.block-contacts__subtitle {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.block-contacts {
    padding: 16px 14px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    font-size: 11px;
}
.about-content {
    font-size: 12px;
    column-gap: 10px;
}
.about-content h2 {
    font-size: 19px;
}
.about-content blockquote::before {
    width: 16px;
}
.about-content blockquote {
    padding: 18px 11px;
    padding-left: 30px;
    margin-bottom: 20px;
}
.about-content h2 {
    font-size: 17px;
}
.about-content h3 {
    font-size: 14px;
}
.about-content p {
    margin-bottom: 10px;
}
.about-content img.img-about {
    top: -32px;
    margin-bottom: -18px;
}
.item-partner {
    height: 125px;
}

.row_news > div {
    margin-bottom: 15px;
}
.item-news__image {
    height: 150px;
}
.item-news__content {
    padding: 15px;
    padding-top: 10px;
}
.item-news__title {
    font-size: 15px;
}
.article-content h1 {
    font-size: 24px;
    margin-bottom: 14px;
}
.article-content h2 {
    font-size: 19px;
}
.billbord-page {
    height: 310px;
    padding: 0 40px;
    margin-bottom: 20px;
}
.billbord-page__title {
    font-size: 33px;
    margin-bottom: 2px;
}
.billbord-page__descr {
    font-size: 15px;
    margin-bottom: 20px;
}
.title-page {
    font-size: 23px;
    padding-bottom: 20px;
}
.slider-portfolio__item,
.slider-photos__item {
    height: 175px;
}
.unit-sertificat__title {
    padding: 11px 15px;
}
.row_sertificats > div {
    margin-bottom: 25px;
}
.wrap-sliders {
    margin-right: -10px;
}
.page-card .tabs a {
    font-size: 12px;
}
.page-card .tabs {
    margin-top: 20px;
    gap: 3px;
}
.right-reviews {
    margin-left: 35px;
}
.page-reviews .block-form .checkbox {
    margin-top: 17px;
}
.item-project__image {
    height: 200px;
}
.item-project__title {
    font-size: 15px;
}
.page-card-project .card-info {
    padding: 13px 20px;
    padding-bottom: 19px;
}
.slider-for_project .slider-for__item {
    height: 290px;
}
.item-step__name {
    font-size: 16px;
}
.card-info_main .card-info__buttons {
    flex-wrap: wrap;
}
.card-info_main .btn-main, .card-info_main .btn-common {
    margin-top: 5px;
}
.map-dealers img {
    max-width: 1400px;
}
.map-dealers {
    margin-top: -160px;
}
.cooperation {
    margin-bottom: -380px;
}
.table-catalog {
    padding-bottom: 10px;
    overflow: auto;
}
.table-catalog table {
    width: 1200px;
}
.table-catalog::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  .table-catalog::-webkit-scrollbar:vertical {
    width: 3px;
  }
  .table-catalog::-webkit-scrollbar:horizontal {
    height: 3px;
  }
  .table-catalog::-webkit-scrollbar-thumb {
    background-color: #2A60AD;
    border-radius: 10px;
  }
  .table-catalog::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #d6e7ff;
  }
  .page-dealers .item-step__title {
    padding: 8px 17px;
    font-size: 10px;
  }
  .item-advantage__title {
    font-size: 17px;
    margin-bottom: 14px;
}
.item-advantage {
    padding: 18px 20px;
}
.page-dealers .billbord-page {
    height: 525px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-middle .link-page,
	.header-middle .list-social,
	.header-middle .header__info,
	.header .logo-descr,
	.header-bottom,
    .header-top {
     display: none;
 }
 .header-middle .phone-main i {
     font-size: 13px;
     display: block;
 }
 .header__contacts {
    margin-left: 0;
}
.sandwich {
	display: flex;
}
.btn-search, .open-search {
	width: 35px;
	height: 35px;
}
.header-middle .phone-main {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: #fff;
	background: #FB8500;
	font-size: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-search {
	margin-right: 15px;
	position: static;
}
.billbord__items {
	padding-top: 20px;
	flex-direction: row;
}
.item-billbord {
	margin-right: 20px;
	margin-bottom: 0;
}
.tabs-catalog {
	margin-bottom: 20px;
    top: 0 !important;
}
.row_categories > .col-lg-4 .item-category__image {
    left: auto;
}
.row_categories > .col-lg-4 .item-category__image {
	transform-origin: 100% 100%;
	transform: scale(0.55);
}
.item-service__image {
    height: 190px;
}
body {
	font-size: 14px;
}
.feature-catalog {
    font-size: 13px;
    margin-bottom: 7px;
}
.item-catalog .btn-main {
    padding: 0 25px;
}
.consultation-block__image {
	display: none;
}
.consultation-block .list-page {
	max-width: 100%;
}
.consultation-block .block-form {
	margin: 0 auto;
}
.consultation-block {
	padding-bottom: 36px;
}
.block-form {
	max-width: 320px;
}
.title-section {
    font-size: 20px;
}
.item-sertificat {
    height: 295px;
}
.footer__content {
	display: none;
}
.footer__title {
	font-size: 16px;
	padding: 7px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	margin: 0;
}
.footer-bottom {
	text-align: center;
}
.footer-bottom .row > div {
	padding-top: 10px;
	padding-bottom: 10px;
}
.create {
	justify-content: center;
}
.btn_top {
	float: none;
}
.footer__title i {
	font-size: 13px;
	display: block;
	transition: all 0.3s;
}
.footer__title.active i {
	transform: rotate(180deg);
}
.footer .logo {
    margin-top: 0;
    margin-bottom: 4px;
}
.footer {
    font-size: 13px;
    padding-top: 20px;
}
.header .logo img {
    width: 120px;
}
.wrapper {
	padding-top: 66px;
}
.header {
	transform: none !important;
}
.header-bottom {
	padding-bottom: 30px;
	max-height: calc(100vh - 70px);
	overflow: auto;
	background-color: #fff;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}
.header-bottom .header__wrapper {
	display: block;
}
.menu {
	padding-left: 15px;
	padding-top: 6px;
	display: none;
}
.menu li a {
	padding: 5px 0;
	color: #000;
	display: block;
}
.navigation {
	display: block;
}
.navigation li {
	margin: 0;
}
.header-bottom .btn-page,
.link-catalog,
.navigation li a {
	padding: 10px 0;
	padding-right: 10px;
	font-weight: 500;
 color: #292D32;
 background-color: transparent;
 border-radius: 0;
 margin: 0;
 height: auto;
 border-bottom: 1px solid #292D32;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.header {
    font-size: 14px;
}
.link-catalog i {
	font-size: 13px;
	transition: all 0.4s;
}
.link-catalog.active i {
	transform: rotate(180deg);
}
.header-bottom__mobile {
	display: block;
}
.header-bottom__mobile .link-page {
	display: inline-block;
}
.header-bottom .header__info {
	margin: 15px 0;
}
.header-bottom .header__contacts {
	margin-left: 15px;
}
.menu-overlay {
  top: 66px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: -1;
}
.header-search form {
  top: 100%;
  padding: 2px 0;
  padding-bottom: 8px;
  left: auto;
  right: 0;
  background-color: #fff;
}
.header-search.active form {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.btn-search {
  right: 15px;
}
.wrapper {
    overflow: hidden;
}
.header.fixed {
    box-shadow: 0 0 10px #ccc !important;
}
.nav-catalog {
    margin-bottom: 15px;
    display: none;
}
.btn-main_filter {
    font-size: 14px;
    margin-bottom: 15px;
    height: 45px;
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.sidebar-banner {
    height: 365px;
    max-width: 360px;
    margin: 0 auto;
    margin-top: 25px;
}
.sidebar-banner__title {
    font-size: 24px;
}
.sidebar-banner__title strong {
    font-size: 29px;
}
.hidden-mob {
    display: none !important;
}
.page-catalog {
    padding-bottom: 35px;
}
.text-columns {
    columns: initial;
}
.text-columns p {
    margin-bottom: 15px;
}
.section-text {
    padding-bottom: 30px;
}
.nav-catalog {
    padding: 0 15px;
    font-size: 13px;
    padding-bottom: 3px;
}
.btn-select, .item-select .jq-selectbox__select-text {
    font-size: 13px;
}
.item-select .jq-selectbox__dropdown li {
    font-size: 13px;
}
.sorting-catalog {
    display: none;
}
.sorting-catalog .item-select, .sorting-catalog .btn-select {
    margin-right: 0;
}
.item-category {
    min-height: 230px;
}
.form-contacts .descr-form {
    margin-bottom: 20px;
}
.block-contacts {
    padding: 15px 15px;
    padding-bottom: 24px;
    margin-bottom: 20px;
    font-size: 13px;
}
.block-contacts .row > div:nth-child(2) .block-contacts__item,
.block-contacts .row > div:nth-child(3) .block-contacts__item,
.block-contacts .row > div:nth-child(4) .block-contacts__item {
    margin: 0;
}
.block-contacts .btn-main {
    margin-top: 18px;
}
.about-content {
    font-size: 13px;
    columns: initial;
}
.about-content img.img-about {
    top: 0;
    margin-bottom: 10px;
}
.page-about {
    padding-bottom: 30px;
}
.item-partner {
    height: 95px;
}
.partners {
    padding-bottom: 40px;
}
.map-contact {
    height: 380px;
}
.item-map img {
    width: 30px;
    margin-right: 8px;
}
.item-map {
    font-size: 15px;
    margin-right: 25px;
    margin-bottom: 18px;
}

.item-news__image {
    height: 180px;
}
.header {
    box-shadow: 0 0 10px #ccc !important;
}
.slider-photos__item {
    height: 210px;
}
.row_sertificats .item-sertificat {
    height: 293px;
}
.card-info {
    min-height: initial;
    margin: 0;
    margin-bottom: 20px;
}
.card-actions {
    margin: 0;
}
.wrap-sliders {
    margin-bottom: 0;
    margin-bottom: 20px;
}
.left-reviews {
    margin-right: 0;
}
.right-reviews {
    margin: 0;
    margin-top: 20px;
}
.page-card-project .card-info {
    margin-top: 15px;
}
.page-card-project .card-info__buttons {
    padding-top: 15px;
}
.title-page_project {
    padding-top: 10px;
}
.page-card-project .card-info_main {
    margin-top: 25px;
    min-height: initial;
}
.page-card-project {
    padding-bottom: 30px;
}
.page-dealers .item-step p br {
    display: none;
}
.item-step sup {
    font-size: 8px;
}
.page-dealers .item-step__title {
    padding: 10px 19px;
    font-size: 12px;
}
.advantages-block {
    margin-bottom: 20px;
    min-height: initial;
}
.map-dealers img {
    max-width: 100%;
}
.map-dealers {
    margin: 0;
}
.cooperation {
    margin: 0;
}
.row_benefits > div {
    margin-top: 12px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .tilte-billbord {
        font-size: 33px;
        max-width: 448px;
        margin-bottom: 17px;
    }
    .tilte-billbord span {
        font-size: 20px;
    }
    .descr-billbord {
        font-size: 18px;
        max-width: 420px;
    }
    .billbord .btn-main {
        height: 60px;
        max-width: 265px;
        margin-top: 25px;
    }
    .billbord {
        padding-top: 47px;
    }
    .item-catalog .btn-main {
     margin-left: 5px;
 }
 .item-category ul {
     max-width: 200px;
 }
 .item-category__image {
    transform: scale(0.9);
}
.categories {
    padding-bottom: 35px;
}
.item-service__image {
    height: 155px;
}
.steps .title-section {
	padding-bottom: 10px;
}
.steps .descr-section {
	padding-bottom: 0;
}
.row_steps > div {
    margin-bottom: 35px;
}
.slider-sertificats {
	padding-bottom: 35px;
}
.sertificats {
	padding-bottom: 38px;
}
.col_checkbox {
    order: 2;
}
.form-contacts .checkbox {
    margin-top: 15px;
    justify-content: center;
}
.page-contacts {
    padding-bottom: 38px;
}
.tabs a {
    padding: 7px 16px;
    font-size: 13px;
}
.tabs {
    gap: 6px;
}

.item-news__image {
    height: 135px;
}
.item-news__title {
    font-size: 13px;
}
.item-news__date {
    font-size: 11px;
    margin-bottom: 3px;
}
.item-news__content {
    padding: 10px;
    padding-top: 7px;
}
.row_news > div {
    margin-bottom: 10px;
}
.billbord-page {
    height: 280px;
    padding: 0 20px;
}
.billbord-page__title {
    font-size: 26px;
}
.billbord-page__descr {
    font-size: 13px;
    margin-bottom: 15px;
}
.billbord-page .btn-main {
    height: 45px;
    padding: 0 23px;
    font-size: 13px;
}
.slider-photos .slick-dots {
    bottom: 0;
}
.slider-photos {
    padding-bottom: 44px;
}
.row_sertificats .item-sertificat {
    height: 290px;
}
.unit-sertificat {
    max-width: 220px;
}
.slider-portfolio {
    padding-bottom: 37px;
}
.portfolio {
    padding-bottom: 30px;
}
.page-card .tabs {
    padding-bottom: 7px;
    margin-right: -15px;
    padding-right: 10px;
    overflow: auto;
    white-space: nowrap;
}
.page-card .tabs li {
    flex-grow: initial;
}
.page-card .tabs a {
    font-size: 13px;
    padding: 7px 16px;
}
.page-card .tabs::-webkit-scrollbar {
    -webkit-appearance: none;
  }
.page-card .tabs::-webkit-scrollbar:vertical {
    width: 3px;
  }
.page-card .tabs::-webkit-scrollbar:horizontal {
    height: 3px;
  }
.page-card .tabs::-webkit-scrollbar-thumb {
    background-color: #2A60AD;
    border-radius: 10px;
  }
.page-card .tabs::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #d6e7ff;
  }
  .page-reviews .item-review__date {
        padding-top: 25px;
    }
    .item-project__image {
        height: 255px;
    }
    .col_for {
        order: -1;
    }
    .slider-for-vertical__item {
        height: 345px;
    }
    .page-card-project .title-page.title-page_slider {
        padding-bottom: 20px;
    }
    .slider-nav-vertical {
        padding: 0 19px;
        margin-top: 15px;
    }
    .slider-nav-vertical__item {
        margin: 0 3px;
    }
    .slider-nav-vertical .slick-arrow {
        transform: none;
        top: 50%;
        left: -5px;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        margin: 0;
    }
    .slider-nav-vertical .slick-next {
        right: -5px;
        left: auto;
    }
    .page-dealers {
        padding-top: 0;
    }
    .page-dealers .billbord-page {
        margin: 0 -15px;
        height: 450px;
    }
    .page-dealers .billbord-page .btn-main {
        height: 50px;
        padding: 0 30px;
    }
    .table-catalog {
        margin-right: -15px;
    }
    .col-lg-8 .advantages-block {
        columns: initial;
    }
    .item-benefit p, .advantages-block__item p {
        font-size: 13px;
    }
    .advantages-block__item {
        margin-bottom: 20px;
    }
    .advantages-block__item:last-child {
        margin-bottom: 0;
    }
    .item-cooperation {
        padding: 25px 15px;
        display: block;
    }
    .item-cooperation__icon {
        margin: 0;
        margin-bottom: 10px;
    }
    .map-dealers {
        margin-bottom: 15px;
    }
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .tilte-billbord {
        font-size: 25px;
        max-width: 332px;
        margin-bottom: 15px;
    }
    .tilte-billbord span {
        font-size: 15px;
        margin-bottom: 8px;
    }
    .descr-billbord {
        font-size: 15px;
        max-width: 329px;
    }
    .item-billbord:last-child {
     margin-right: 0;
 }
 .item-billbord {
    width: 160px;
    height: 165px;
}
.feature-catalog {
 font-size: 12px;
 margin-bottom: 6px;
 display: block;
}
.feature-catalog > * {
    display: block;
}
.feature-catalog > *:last-child {
    text-align: left;
}
.item-catalog__title {
    font-size: 14px;
}
.item-catalog__buttons {
	display: block;
	padding-top: 10px;
}
.item-catalog .btn-main {
	margin: 0;
	width: 100%;
	margin-top: 10px;
}
.item-catalog__buttons .quantity {
	width: 100%;
}
.item-catalog__image {
    height: 154px;
}
.price-main {
    font-size: 15px;
}
.catalog {
	padding-bottom: 35px;
}
.item-category__image {
    transform: scale(0.8);
}
.item-category {
	font-size: 13px;
}
.item-service__image {
    height: 130px;
}
.item-service {
	font-size: 12px;
}
.item-service__content {
    padding: 9px 10px;
}
.item-service__title {
    font-size: 13px;
}
.row .consultation-block__left {
	padding-right: 15px;
}
.consultation-block__title {
    font-size: 22px;
    margin-bottom: 11px;
}
.recomendation {
	padding-bottom: 20px;
}
.item-sertificat {
    height: 215px;
    max-width: 163px;
}
.item-review {
    padding: 16px 20px;
    padding-bottom: 23px;
    font-size: 13px;
}
.consultation-block .col-lg-4 {
    padding-left: 15px;
    padding-right: 15px;
}
.tabs a {
    line-height: 140%;
}

.item-news__image {
    height: 115px;
}
.page-article {
    padding-bottom: 40px;
}
.title-page {
    font-size: 20px;
}
.billbord-page {
    height: 260px;
}
.slider-photos {
    padding-bottom: 35px;
}
.row_sertificats .item-sertificat {
    height: 214px;
}
.unit-sertificat {
    max-width: 163px;
}
.unit-sertificat__title {
    padding: 9px 8px;
    font-size: 12px;
}
.row_sertificats > div {
    margin-bottom: 20px;
}
.page-sertificats {
    padding-bottom: 20px;
}
.modal-block {
    padding: 30px;
}
.slider-page-reviews {
    padding-bottom: 35px;
}
.item-project__image {
    height: 225px;
}
.page-card-project {
    padding-bottom: 20px;
}
.card-info_main .btn-main, .card-info_main .btn-common {
   min-width: 190px;
}
.card-info_main .card-info__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.slider-nav_project .slider-nav__item {
    height: 60px;
}
.slider-for_project .slider-for__item {
    height: 245px;
}
.page-card-project .title-page br {
    display: none;
}
.page-card-project .feature {
    font-size: 13px;
}
.page-card-project .card-info {
    padding: 12px 13px;
    padding-bottom: 17px;
}
.slider-nav-vertical__item {
    height: 75px;
}
.page-dealers .billbord-page {
    height: 410px;
}
.item-benefit__title {
    padding: 0;
}
.item-benefit__title::before {
    display: none;
}
.item-benefit {
    padding: 15px 10px;
    padding-bottom: 15px;
}
} 

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .nav-catalog,
    .header-bottom {
     display: block !important;
 }
 .sorting-catalog,
 .menu {
     display: flex !important;
 }
 .hidden-desktop {
    display: none !important;
 }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
        max-width: 1470px;
    }
}